<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add user</h1>
    <form action="addrecord/" method="post">
        {% csrf_token %}
        Nom:<br>
        <input name="nom">
        <br><br>
        
        Prénom:<br>
        <input name="prenom">
        <br><br>
        
        E-Mail:<br>
        <input name="mail">
        <br><br>
        
        Date de naissance:<br>
        <input name="date_naiss">
        <br><br>

        Téléphone:<br>
        <input name="phone">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>